<div id="bgFullScreen">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l8 offset-m1 offset-l2">
                <div class="card mrt-150 silver darken-1">
                    <div class="card-content white-text center">
                        <h4 class="truncate bg-card-user">
                            <img src="../assets/images/icons/defaultUser.svg" alt="User" class="circle loginImage responsive-img">
                            <div class="row login">
                                <br />
                                <form class="col s12" (ngSubmit)="login($event)" [formGroup]="loginForm">
                                    <div class="row">
                                        <div class="input-field col m12 s12">
                                            <i class="material-icons iconis prefix">email</i>
                                            <input id="email_login" formControlName="Email" type="email" required class="validate">
                                            <label for="email_login">E-mail</label>                                            
                                            <span  *ngIf="loginForm.get('Email')?.hasError('required') && loginForm.get('Email')?.touched" class="helper-text" data-error="This field is required." data-success=""></span>
                                            <span  *ngIf="loginForm.get('Email')?.hasError('email') && loginForm.get('Email')?.touched" class="helper-text" data-error="Please enter a Valid Email" data-success=""></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m12 s12">
                                            <i class="material-icons iconis prefix">lock</i>
                                            <input id="password_login" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" maxlength="20" formControlName="Password" type="password" required class="validate">
                                            <span  *ngIf="loginForm.get('Password')?.hasError('required') && loginForm.get('Password')?.touched" class="helper-text" data-error="This field is required." data-success=""></span>
                                            <span  *ngIf="!loginForm.get('Password')?.hasError('pattern') && loginForm.get('Password')?.hasError('minlength') && loginForm.get('Password')?.touched" class="helper-text" data-error="Min. password length is 8 characters." data-success=""></span>
                                            <span  *ngIf="!loginForm.get('Password')?.hasError('pattern') && loginForm.get('Password')?.hasError('maxlength') && loginForm.get('Password')?.touched" class="helper-text" data-error="Min. password length is 20 characters." data-success=""></span>
                                            <span  *ngIf="loginForm.get('Password')?.hasError('pattern') && loginForm.get('Phone Number')?.touched" class="helper-text" data-error="Please enter valid password (At least one letter, one number and one special character)" data-success=""></span>
                                            <label for="password_login">Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Log In</button>
                                    </div>
                                </form>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>