@import '~material-icons/iconfont/material-icons.css';

.d-none {
    display: none !important;
}

input[required] + label {
    width: fit-content !important;
}

input[required] + label:before {
    content: "*";
    color: red;
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
}

label.uploadImageButton {
    cursor: pointer;
}

label.uploadImageButton img{
    height: 200px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 50%;
    transform: translate(-50%, 10px);
}

label.uploadImageButton:hover > img {
    opacity: 0.6;
    background-color: #000000C2;
}

label.uploadImageButton::after {
    content: "Upload";
    font-family: cursive;
    position: absolute;
    left: 50%;
    transform: translate(-80%, 100%);
    color: white;
    z-index: 1;
    font-size: xxx-large;
    display: none;
    transition: 2s ease-in;
    text-align: center;
    text-shadow: 0 0 3px black;
}

label.uploadImageButton:hover::after {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.selectDesignation {
    margin-left: 30px;
    width: calc(100% - 30px);
}
.profileImage {    
    width: 100%;
    padding-top: 100%;
    background: url(http://localhost:3000//images/ProfilePic/ProfilePic_1617854691476_profile_pic.png);
    background-size: cover;
    border-radius: 100%;
    margin-right: 15px;
}
